.hero {
   height: 100vh;
   position: relative;
   width: 100%;
   min-height: 800px;
   color: var(--color-white);
   overflow: hidden;
}

.hero::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: #111111;
   z-index: -2;
}

.hero::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 29%;
   background-color: var(--color-primary-light);
   opacity: 0.04;
}

.hero-image {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   max-width: 100%;
   width: 400px;
   z-index: -1;
   display: block;
}

.hero-content {
   padding-top: 16rem;
}

.hero-button {
   margin: 0 auto;
}

.hero-heading {
   margin: 0 auto;
   text-align: center;
   max-width: 12ch;
   margin-top: 3rem;
}

.hero-text {
   margin: clamp(1rem, 1vh, 1.75rem) auto clamp(1.75rem, 5vh, 3.5rem);
   text-align: center;
   width: 80%;
   max-width: 600px;
}

@media (min-width: 540px) {
   .hero {
      min-height: 880px;
   }

   .hero-image {
      min-width: clamp(640px, 100%, 700px);
   }

   .hero::after {
      height: 33%;
   }

   .hero-content {
      padding-top: clamp(19rem, 36vh, 25rem);
   }

   .hero-heading {
      margin-top: 2.5rem;
   }

   .hero-text {
      margin-top: clamp(1.25rem, 1vh, 1.5rem);
      width: 77.5%;
      max-height: 4.5rem;
   }
}

@media (min-width: 960px) {
   .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 60%;
   }

   .hero::after {
      right: 0;
      width: 66%;
      height: 100%;
   }

   .hero-content {
      max-width: 1190px;
      padding-top: 4rem;
      margin: 0 auto;
      padding-left: 3rem;
   }

   .hero-text,
   .hero-heading {
      text-align: left;
      margin: 0;
   }

   .hero-heading {
      margin-top: 9rem;
   }

   .hero-text {
      max-width: 28rem;
      margin-top: 1.25rem;
      margin-bottom: 3.75rem;
   }

   .hero-button {
      margin: 0;
   }

   .hero .logo {
      margin: 0;
   }
}

@media (min-width: 1441px) {
   .hero-content {
      max-width: 1280px;
   }
}
