.menu-item {
   color: var(--color-white);
   text-align: center;
   max-width: 360px;
   margin: 0 auto;
   padding: 1.5rem 0 3.5rem;
}

.menu-item:nth-child(2) {
   border: 2px solid rgba(255, 255, 255, 0.15);
   border-left: none;
   border-right: none;
}

.menu-item-content {
   margin-top: 2rem;
   padding: 0 1rem;
   max-width: 21.5rem;
}

.menu-item-text {
   height: 3.25rem;
   margin: 0.5rem auto 0;
   padding: 0 1rem;
}

.menu-item-image {
   width: 100%;
   height: 100%;
}

@media (min-width: 500px) {
   .menu-item {
      display: flex;
      max-width: none;
      padding: 1.35rem 0;
   }

   .menu-item-image-container {
      position: relative;
      height: clamp(98px, calc(17vw * 0.766), 118px);
      width: clamp(128px, 17vw, 154px);
      margin-right: 3rem;
      flex-shrink: 0;
   }

   .menu-item-image-container::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 0.85px;
      top: 20%;
      background: var(--color-primary-light);
   }

   .menu-item-content {
      padding-top: 0.55rem;
      margin: 0;
      text-align: left;
      max-width: 24.5rem;
   }

   .menu-item-text {
      padding: 0;
   }
}