.info {
   position: relative;
}

.info-card {
   padding: 0 1.5rem 1.5rem;
   transform: translateY(-4rem);
}

.info-card:first-of-type {
   padding-bottom: 6rem;
}

.pattern {
   display: none;
}

.pattern-lines {
   width: clamp(80px, 20vw, 160px);
   max-height: clamp(40px, 10vw, 80px);
}

@media (min-width: 500px) {
   .pattern {
      display: block;
      position: absolute;
      z-index: -1;
   }

   .pattern-lines {
      top: 32%;
      right: 0.5%;
      z-index: 1;
   }

   .pattern-curve {
      max-height: 320px;
   }

   .pattern-curve-top-right {
      top: 9%;
      left: -50%;
   }

   .pattern-curve-top-left {
      bottom: 0;
      right: -50%;
   }
}

@media (min-width: 680px) {
   .pattern-lines {
      right: 4.5%;
   }
}

@media (min-width: 900px) {
   .info-card {
      display: flex;
      max-width: 1280px;
      gap: 2.5rem;
      margin: 0 auto;
      padding: 0 3rem;
      justify-content: space-between;
   }

   .info-card .heading-l {
      font-size: clamp(2.25rem, 4.5vw, 3rem);
      line-height: clamp(2.25rem, 5vw, 3rem);
   }

   .info-card .text-lg {
      font-size: clamp(1rem, 1.75vw, 1.25rem);
      line-height: clamp(1.75rem, 2vw, 1.875rem);
   }

   .info-card:first-of-type {
      padding-bottom: 0;
   }

   .info-card:first-of-type .card-content {
      margin-left: 2rem;
   }

   .info-card:last-of-type {
      flex-direction: row-reverse;
      margin-top: -1rem;
      transform: translateY(4rem);
   }

   .pattern-curve-top-right {
      left: -37.5%;
   }

   .pattern-curve-top-left {
      right: -37.5%;
   }

   .pattern-lines {
      right: 0;
      top: 50%;
      transform: translate(clamp(10%, 1vw, 30%), -50%);
      width: clamp(80px, 10vw, 160px);
      max-height: clamp(40px, 5vw, 80px);
   }
}
