.footer {
   background-color: var(--color-primary-dark);
   padding: 5rem 1.5rem;
}

.footer p {
   font-weight: 400;
   font-size: 0.875rem;
   line-height: 1.75rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: var(--color-white);
   text-align: center;
}

.footer-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-top: 2.625rem;
}

.footer-logo {
   width: 103px;
   height: 40px;
}