.footer {
   background-color: var(--color-primary-dark);
   padding: 5rem 1.5rem;
}

.footer-inner {
   max-width: 1190px;
   margin: 0 auto;
   position: relative;
}

.footer p {
   font-weight: 400;
   font-size: 0.875rem;
   line-height: 1.75rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: var(--color-white);
   text-align: center;
}

.footer-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-top: 2.625rem;
}

.footer-logo {
   width: 103px;
   height: 40px;
}

@media (min-width: 680px) {
   .footer {
      padding: 4rem 2.5rem;
   }

   .footer p {
      text-align: left;
   }

   .footer-logo {
      position: absolute;
      top: 0;
      left: 0;
   }

   .footer-content {
      width: fit-content;
      margin-top: 0;
      margin: 0 auto;
      transform: translateX(1.25rem);
   }
}

@media (min-width: 960px) {
   .footer {
      padding: 5rem 0;
   }

   .footer-inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 3rem;
   }

   .footer-content {
      flex-direction: row;
      justify-content: space-evenly;
      flex-grow: 1;
      transform: unset;
   }

   .footer-logo {
      position: static;
      height: 5.25rem;
      margin: 0;
      margin-right: auto;
   }
}
