.card-image {
   display: block;
   width: 100%;
   max-width: 360px;
   height: auto;
   margin: 0 auto;
   object-fit: cover;
   box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.card-content {
   color: var(--color-secondary-medium);
   text-align: center;
   max-width: 26rem;
   padding: 0 0.5rem;
   margin: 0 auto;
}

.card-divider {
   padding: 3.25rem 0 2.5rem;
}

.card-heading {
   max-width: 16.875rem;
   margin: 0 auto 1.15rem;
}

@media (min-width: 540px) {
   .card-image {
      max-width: 573px;
   }

   .card-content {
      max-width: 33.75rem;
   }

   .card-heading {
      max-width: 30rem;
      margin: 0 auto 1.75rem;
   }
}

@media (min-width: 900px) {
   .card-heading {
      margin: 0 0 1.75rem;
      max-width: 12ch;
   }

   .card-content {
      text-align: left;
      align-self: center;
      margin: 0;
      padding: 0;
      flex-shrink: 2;
      width: 80%;
   }

   .card-text {
      width: clamp(22rem, 33vw, 30rem);
   }

   .card-divider {
      margin: 0;
   }

   .card-image {
      max-width: 540px;
      min-width: 360px;
   }
}
