:root {
   --color-primary-light: #9e7f66;
   --color-primary-dark: #111111;
   --color-secondary-light: #5c6779;
   --color-secondary-medium: #242b37;
   --color-secondary-dark: #17192b;
   --color-white: #ffffff;
   --color-black: #000000;
   --font-family: "League Spartan", sans-serif;
}

* {
   box-sizing: border-box;
}

body {
   font-family: var(--font-family);
   overflow-x: hidden;
}

button {
   font-family: var(--font-family);
}

img {
   width: 100%;
}

/* typography */
.heading-xl {
   font-size: 2.5rem;
   line-height: 3rem;
   font-weight: 300;
   letter-spacing: -0.5px;
}

.heading-l {
   font-size: clamp(2.25rem, 7.5vw, 2.45rem);
   line-height: 2.5rem;
   font-weight: 700;
   letter-spacing: -0.4px;
}

.heading-m {
   font-size: 1.25rem;
   line-height: 1.5rem;
   font-weight: 700;
   letter-spacing: -0.25px;
}

.heading-s {
   font-size: 1.0625rem;
   line-height: 1.75rem;
   font-weight: 600;
   letter-spacing: 2.5px;
   text-transform: uppercase;
}

.text-lg,
.text-reg {
   line-height: 1.625rem;
}

@media (min-width: 500px) {
   .heading-xl {
      font-size: 3rem;
      line-height: 4rem;
      letter-spacing: -0.6px;
   }

   .heading-l {
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: -0.5px;
   }

   .text-lg {
      font-size: 1.25rem;
      line-height: 1.875rem;
   }
}

@media (min-width: 768px) {
   .heading-xl {
      font-size: clamp(4rem, 7.5vw, 5rem);
      line-height: clamp(4.75rem, 8vw, 5.25rem);
      letter-spacing: -1px;
   }
}

/* logo */
.logo {
   margin: 0 auto;
   width: 82px;
   height: 32px;
}

@media (min-width: 500px) {
   .logo {
      width: 103px;
      height: 40px;
   }
}

/* buttons */
.button {
   display: block;
   padding: 1.15rem 3.25rem 0.86rem;
   text-align: center;
   text-decoration: none;
   transition: color 0.35s ease-in-out, background 0.35s ease-in-out;
   cursor: pointer;
}

.button:focus {
   outline: none;
}

.button-dark {
   color: var(--color-white);
   background-color: transparent;
   border: 1px solid var(--color-white);
}

.button-dark:hover,
.button-dark:focus {
   color: var(--color-primary-dark);
   background-color: var(--color-white);
}

/* divider pattern */
.divider {
   width: 80px;
   margin: 0 auto;
}
